{
    "parser": "babel-eslint",
    "extends": "react",
    "env": {
      "browser": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
        "no-console" : "warn",
        "no-debugger" : "error",
        "react/prop-types": "off"
    }

}